body {
    padding-top: 50px;
    font-family: 'Merriweather', serif;
    background: #333333;
}

.background {
  width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contents {
  width: 300px;
  height: 300px;
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: aliceblue;
  border-radius: 50%;
  text-align: center;
}
