<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/stylesheets/main.css"
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <form>
                <label for="flight-number">
                <input name="flight-number" type="text" placeholder="Flight number"/>
                <input type="submit"/>
            </form>
        </div>
    </div>
</body>
</html>
